/*
.col {
    border: 1px solid blue;
}

.col-4 {
    border: 1px solid green;
}

.col-8 {
    border: 1px solid green;
}
*/

.header {
    border-bottom: 1px solid blueviolet;
}

.name {
    font-size: 1.6em;
    font-weight: bold;
}

.profession {
    font-size: 1.3em;
}

.container {
    font-size: 0.8em;
}

.personal {
    background-color: #edf3f8;
}

.rol {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}