<button (click)="downloadPDF()">Download PDF</button>

<div id="pdf-content">
  <div class="container">
    <div class="col">
      <div class="row text-center">
        <div class="col-4">
          <img src="assets/images/Pateto.jpg" width="250px">
        </div>
        <div class="col-8 py-5">
          <div class="row text-center">
            <h1>Alvaro Ernesto Cáceres Lara</h1>
          </div>
          <div class="row text-center">
            <h3><i class="bi bi-geo-alt"></i> Calle 1 # 2B - 31, Chia, Cundinamarca, Colombia</h3>
          </div>
          <div class="row text-center">
            <h3><i class="bi bi-phone"></i> +57 3223946363</h3>
          </div>
          <div class="row text-center">
            <h3><i class="bi bi-envelope"></i> alvaroecaceresl&#64;gmail.com</h3>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>