<button (click)="downloadPDF()">Download PDF</button>

<div id="pdf-content">
  <div class="container">
    <div class="col">

      <div class="row pb-2">
        <div class="col-3">
          <img src="assets/images/Pateto.jpg" width="120px" class="rounded-circle">
        </div>
        <div class="col-9">
          <div class="row name">
            Alvaro Ernesto Cáceres Lara
          </div>
          <div class="row profession">
            Software Engineer
          </div>
          <div class="row text-justify">
            Seasoned Software Engineer with 12+ years of experience in geospatial technologies, full-stack development,
            and
            applied machine learning. Specialized in GIS, remote sensing, and web-based geospatial applications. Proven
            ability to deliver research-driven and industry-grade solutions using Python, Django, Angular, and GIS
            frameworks. International background with strong collaboration and problem-solving skills.
          </div>

        </div>
      </div>

      <div class="row personal p-2">
        <div class="col">
          <div class="row">
            <span><i class="bi bi-envelope pe-2"></i>alvaroecaceresl&#64;gmail.com</span>
          </div>
          <div class="row">
            <span><i class="bi bi-geo-alt pe-2"></i>Chia, Cundinamarca, Colombia</span>
          </div>
          <div class="row">
            <span><i class="bi bi-github pe-2"></i>github.com/pateto</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span><i class="bi bi-phone pe-2"></i>+57 3223946363</span>
          </div>
          <div class="row">
            <span><i class="bi bi-linkedin pe-2"></i>linkedin.com/in/alvaroecaceresl/</span>
          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="col header">
          AREAS OF EXPERTISE
        </div>
      </div>

      <div class="row">
        <div class="col">
          Software Engineering<br>
          Dev Practices<br>
          International Experience
        </div>
        <div class="col">
          Full-Stack<br>
          Web Development<br>
          Research & Scientific Computing<br>
        </div>
        <div class="col">
          Geospatial Technologies<br>
          Remote Sensing<br>
          Applied Deep Learning<br>
        </div>
      </div>

      <div class="row py-2">
        <div class="col header">
          SKILLS
        </div>
      </div>

      <div class="row pt-1">
        <div class="col">
          <b>Languages:</b> Python, JavaScript, TypeScript, Java, PHP<br>
          <b>Frameworks:</b> Django, Angular, Tensorflow<br>
          <b>Deployment:</b> Render, Digital ocean, Github<br>
        </div>
        <div class="col">
          <b>GIS tools:</b> ArcGIS, QGIS, PostGIS, Open source<br>
          <b>Other tools:</b> Docker, Git, PostgreSQL<br>
          <b>OS:</b> Linux, Ubuntu<br>
        </div>
      </div>

      <div class="row py-2">
        <div class="col header">
          WORK EXPERIENCE
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          06.2023 - Present
        </div>
        <div class="col-9">
          <div class="row rol">
            Software Developer
          </div>
          <div class="row">
            Freelance
          </div>
          <div class="row">
            Full stack development
            Django (Python), Angular (Typescript)
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          09.2022 - 03.2023
        </div>
        <div class="col-9">
          <div class="row rol">
            Python Developer
          </div>
          <div class="row">
            BairesDev (Remote)
          </div>
          <div class="row">
            Software development using Python for scraping applications<br>
            Git, Python, Regex
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          01.2019 - 03.2022
        </div>
        <div class="col-9">
          <div class="row rol">
            Research Assistant
          </div>
          <div class="row">
            German Aerospace Center, Neustrelitz, Germany
          </div>
          <div class="row">
            Satellite image processing research for maritime safety applications
            Machine Learning (Tensorflow), Datacube, Python, Docker
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          11.2017 - 12.2018
        </div>
        <div class="col-9">
          <div class="row rol">
            GIS Consultant
          </div>
          <div class="row">
            ESRI, Bogotá, Colombia
          </div>
          <div class="row">
            Web development using ArcGIS API for Javascript
            Javascript, Python
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          10.2015 - 10.2017
        </div>
        <div class="col-9">
          <div class="row rol">
            GIS Developer
          </div>
          <div class="row">
            Figurazione, Bogotá, Colombia
          </div>
          <div class="row">
            Geographical information systems development
            Javascript, Python, Luciad
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          01.2015 - 10.2015
        </div>
        <div class="col-9">
          <div class="row rol">
            GIS Developer
          </div>
          <div class="row">
            Ayesa, Bogotá, Colombia
          </div>
          <div class="row">
            Web development using ArcGIS API for Javascript
            Javascript, Python
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          06.2014 - 12.2014
        </div>
        <div class="col-9">
          <div class="row rol">
            Web Developer
          </div>
          <div class="row">
            HCL, Bogotá, Colombia
          </div>
          <div class="row">
            Web development
            PHP, MySQL
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          09.2009 - 12.2011
        </div>
        <div class="col-9">
          <div class="row rol">
            Software Engineer
          </div>
          <div class="row">
            IGAC, Bogotá, Colombia
          </div>
          <div class="row">
            Software development for cadastral applications
            Java
          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="col header">
          EDUCATION
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          10.2012 - 03.2014
        </div>
        <div class="col-9">
          <div class="row rol">
            Master of Science (MSc) in Photogrammetry and Geoinformatics
          </div>
          <div class="row">
            Stuttgart University of Applied Sciences (HFT), Germany
          </div>
          <div class="row">
            Geographic information systems
            Remote Sensing
            Web GIS
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          02.2004 - 09.2009
        </div>
        <div class="col-9">
          <div class="row rol">
            Software Engineering
          </div>
          <div class="row">
            Javeriana University, Bogotá, Colombia
          </div>
          <div class="row">
            Software development
            Computer graphics
          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="col header">
          PUBLICATIONS
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          20.04.2022
        </div>
        <div class="col-9">
          <div class="row rol">
            Landsat-8 Sea Ice Classification Using Deep Neural Networks
          </div>
          <div class="row">
            Multidisciplinary Digital Publishing Institute
          </div>
          <div class="row">
            <a href="https://www.mdpi.com/2072-4292/14/9/1975">See publication</a>
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          13.04.2015
        </div>
        <div class="col-9">
          <div class="row rol">
            Implementation of a MODIS Aerosol Algorithm for Air Pollution Detection
          </div>
          <div class="row">
            International Emissions Conference No. 21, US Environmental Protection Agency, San Diego, California
          </div>
          <div class="row">
            <a href="https://gaftp.epa.gov/Air/nei/ei_conference/EI21/session9/caceres.pdf">See publication</a>
          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="col header">
          AWARDS
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          2012 - 2014
        </div>
        <div class="col-9">
          <div class="row rol">
            Scholarship for postgraduate course with special relevance for developing countries.
          </div>
          <div class="row">
            Awarded by the German Academic Exchange Service (DAAD)
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          2009
        </div>
        <div class="col-9">
          <div class="row rol">
            Semester scholarship for academic excellence
          </div>
          <div class="row">
            Awarded by the Javeriana University
          </div>
        </div>
      </div>

      <div class="row pt-1">
        <div class="col-3">
          2007, 2008
        </div>
        <div class="col-9">
          <div class="row rol">
            Mysis scholarship
          </div>
          <div class="row">
            Awarded by the Mysis Foundation, United Kingdom
          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="col header">
          LANGUAGE SKILLS
        </div>
      </div>

      <div class="row pt-1">
        <div class="col">
          <b>Spanish:</b> Mother tongue
        </div>
        <div class="col">
          <b>English:</b> Advanced
        </div>
      </div>

    </div>
  </div>
</div>